* {
	margin: 0;
	padding: 0;
	-webkit-tab-size:3;
	-o-tab-size:3;
	-ms-tab-size:3;
	-moz-tab-size:3;
	tab-size:3;
}
html,
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	overflow: hidden;
}
/*html {
	 forçando barras de rolagem para reduzir chances de rolagem horizontal 
	overflow: scroll;
}*/
#interface {
	background-color: rgba(255,255,255,.6);
	border-color: #e7e7e7;
	border-style: solid;
	border-width: 0 0 1px;
	color: #000;
	left: 0;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
}
#interface>*,
#interface .painel>* {
	display: inline-block;
}
#interface h1 {
	color: #777;
	font-size:18px;
	height:20px;
	line-height:20px;
	padding: 15px;
}
#cities {
	max-height: 500px;
	overflow: auto;
}
ul.menu,
ul.menu * {
	list-style: none;
}
ul.menu {
	font-size: 0;
}
ul.menu li {
	font-size: 14px;
	position: relative;
	white-space: nowrap;
}
ul.menu li:hover {
	background-color: #F5F5F5;
	color: #262626;
}
ul.menu .active {
	background-color: #D0D0F5;
	color: #010126;
}
ul.menu>li {
	display: inline-block;
}
ul.menu>li:hover {
	background-color: #E7E7E7;
	color: #555;
}
ul.menu li>a,
ul.menu li>span {
	color: #333;
	display: block;
	padding: 3px 20px;
}
ul.menu li>span {
	cursor: default;
}
ul.menu>li>a,
ul.menu>li>span {
	color: #777;
	padding: 15px;
}
ul.menu li>ul {
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	display: none;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	top:100%;
	z-index: 99;
}
ul.menu li:hover>ul {
	display: block;
}
#interface .painel {
	float: right;
}
#interface .painel>* {
	padding: 15px;
	vertical-align: middle;
}
#interface .painel>#stats {
	padding: 0;
}
.pop .content {
	display: none;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.pop .content>.titulo {
	background-color: #E7E7E7;
	color: #555;
	padding: 5px 20px;
}
.pop .content>.texto {
	padding: 15px 20px 20px;
}
.cities {
	position: absolute;
}
#vis {
	cursor: default; /* webkit... :( */
	height: 100%;
	width: 100%;
}

/* Cores devem ser as mesmas definidas no gerador.js */
.i-nomeada,
.fa-circle.e {
	color:#337AB7;
}
.i-anonima,
.fa-circle.d {
	color:#4CAE4C;
}
.i-arquivo,
.fa-circle.c {
	color:#D9534F;
}
.i-diretorio,
.fa-circle.b {
	color:#F0AD4E;
}
.i-cidade,
.fa-circle.a {
	color:#BFBFBF;
}
.i-modulo,
.fa-circle.a {
	color:#000000;
}
